<app-start></app-start>
<div class='quepasa'>            
    <h2>
        ¿Qué está pasando?
    </h2>
    <p>
        Que estás viendo una página web hecha con ANGULAR, donde hay dos
        partes principales: esta que ves, explicativa, y otra que recopila 
        información sobre videojuegos.
    </p>
    <p>
        ¿Por qué hacer una página sobre videojuegos? Porque toda la información se está cogiendo de una API REST y eso da caché (tú me entiendes),
        porque se ha implementado un filtro para poder ordenar las búsquedas (más caché personal) y porque
        este formato de aplicación lo podemos encontrar en tres mil trillones de sitios (así a ojo).
    </p>
    <p>
        En un futuro cercano, implementaré más funciones como un scroll infinito (o paginación, todavía
        no sé qué me gustará más), número de resultados a mostrar (si hay paginación, claro) y más cosas
        de esas super molonas que tanto gustan a los clientes.
    </p>
    <p>
        Y ahora, pregunta importante: ¿qué framework es mejor?
    </p>
    <p>
        No hay respuesta. Tanto REACT como ANGULAR son excelentes herramientas que facilitan el trabajo, sobre todo en proyectos grandes (y cuanto más grandes, más ANGULAR bajo mi punto de vista). 
        La pregunta sería: ¿cuál me gusta más? Pues dificil elección, aunque cierto es que me huele en la nariz (dónde si no) que trabajar
        con ANGULAR me resulta algo más intuitivo. El por qué, no tengo la más remota idea...
    </p>
    <p class='last'>
        Y como si de en encargo de copywriter se tratase, termino con una pregunta: Y tú, ¿qué framework prefieres?
    </p>  
</div>      

